@import url('~simpledotcss/simple.min.css');

body {
  font-size: 0.9rem;
  grid-template-columns: 1fr min(880px, 90%) 1fr;
  overflow-y: scroll;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;
  padding: 8px;
}
button {
  font-size: 0.7rem;
  margin: 0 0 8px;
}
input {
  max-width: 400px;
  width: 100%;
  margin: 0;
}
form > .column {
  margin: 16px 0 0;
}
.main-page,
.word-create,
.word-list {
  margin: 40px auto 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header {
  margin: 0 0 16px;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.25rem;
  font-weight: bold;
}
.list-header {
  display: grid;
  grid-template-columns: 6fr 6fr 14fr 3fr 5fr 3fr;
  column-gap: 8px;
  padding: 8px 0;
  position: sticky;
  top: 0;
  background: #212121;
}
.list-column-title {
  font-weight: 800;
}
.list-row {
  display: grid;
  grid-template-columns: 6fr 6fr 14fr 3fr 5fr 3fr;
  column-gap: 8px;
}
.list-item {
  margin: 8px 0 8px;
}
.cancel {
  background-color: rgb(126, 126, 126);
}
.delete {
  background-color: rgb(255, 72, 72);
}
.invalid-feedback {
  color: red;
  font-size: 0.7rem;
}
.button-area {
  margin: 16px 0 0;
}
.word-wrapper,
.answer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
}
.word,
.answer {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
.show-answer:hover {
  cursor: pointer;
  color: rgb(156, 248, 183);
}
.index-item {
  padding: 0 16px;
  font-weight: bold;
  border-radius: 8px;
}
.index-item:hover {
  cursor: pointer;
  background-color: rgb(131, 131, 131);
}
.logout {
  cursor: pointer;
}
.invalid {
  border: solid 1px red;
}
.csv-import-input-area {
  margin: 0 0 16px;
}
.sign-in {
  width: 400px;
  margin: 40px 0;
}
