@import url('~simpledotcss/simple.min.css');

body {
  font-size: 0.9rem;
  grid-template-columns: 1fr min(48rem, 90%) 1fr;
}
h4 {
  padding: 8px 0;
  margin: 40px 0 8px;
  border-bottom: 1px solid #ccc;
}
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;
  padding: 8px;
}
button {
  font-size: 0.7rem;
  margin: 0 0 8px;
}
input {
  width: 100%;
  margin: 0;
}
form > .column {
  margin: 16px 0 0;
}
.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.word-list {
  display: grid;
}
.list-header {
  display: grid;
  grid-template-columns: 6fr 6fr 14fr 3fr 5fr 3fr;
  column-gap: 8px;
}
.list-column-title {
  font-weight: 800;
}
.list-body {
  display: grid;
  grid-template-columns: 6fr 6fr 14fr 3fr 5fr 3fr;
  column-gap: 8px;
}
.list-item {
  margin: 8px 0 8px;
}
.cancel {
  background-color: rgb(126, 126, 126);
}
.delete {
  background-color: rgb(255, 72, 72);
}
.invalid-feedback {
  color: red;
  font-size: 0.8rem;
}
.button-area {
  margin: 16px 0 0;
}
